{% extends 'basic_app/base.html' %}
{% block body_block %}

  <div class="container">
        {% if user.is_authenticated %}
        <div class="container">
        
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <div class="container">
                            <ul class="navbar-nav">          
                            <li  class="nav-item active"><a class="nav-link" href="{% url 'basic_app:articles' %}">Dashboard<span class="sr-only">(current)</span></a></li>
                            <li  class="nav-item"><a class="nav-link" href="{% url 'basic_app:settings' %}">Settings</a></li>
                            <li  class="nav-item"><a class="nav-link" href="{% url 'basic_app:createarticle' %}">Create Article</a></li>
                            <li  class="nav-item"><a class="nav-link" href="{% url 'basic_app:myarticles' %}">My Articles</a></li>

                          </ul>
                        </div>
                    </nav>
        
        
        </div>
        
        {%endif%}
      <h1>Create article</h1>

      <h3 style="color:{{color}}">{{msg}}</h3>

        <form method="post" action="#">
          {% csrf_token %}
          
            <table border="2">
             

                        {{form.as_table}}
            
                <table>
                
            <br><br>

          
          <input class="btn btn-primary" type="submit" value="Create"/>

        </form>

    </div>
  </div>
{% endblock %}