{% extends "basic_app/base.html" %}

{% block body_block %}

<div class="container">
  <div class="jumbotron">
    <h1>Dashboard</h1>
    {% if user.is_authenticated %}
        <h2>Welcome {{ user.username }}!</h2>
        
    {% else %}
        <h2>Welcome to the site!</h2>
    {% endif %}
  </div>
</div>
{% if user.is_authenticated %}
<div class="container">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <ul class="navbar-nav">          
                    <li  class="nav-item active"><a class="nav-link" href="{% url 'basic_app:articles' %}">Dashboard<span class="sr-only">(current)</span></a></li>
                    <li  class="nav-item"><a class="nav-link" href="{% url 'basic_app:settings' %}">Settings</a></li>
                    <li  class="nav-item"><a class="nav-link" href="{% url 'basic_app:createarticle' %}">Create Article</a></li>
                    <li  class="nav-item"><a class="nav-link" href="{% url 'basic_app:myarticles' %}">My Articles</a></li>

                </ul>
                </div>
        </nav>


</div>

{%endif%}


{% endblock %}